<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mb-4">Profil uporabnika</h1>
            <p><b>Ime:</b> {{username}}</p>
            <p><b>Mail:</b> {{email}}</p>
            <br>
            <a class="btn btn-danger" href="logout">Odjava</a>
        </div>
    </div>
</div>